* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: #09131b;
    color: #fff;
}

/* * HEADER * */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 80vw;
    margin: auto;
    padding: 1rem 2rem;
    background: #122331;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 2rem;
}

.header ul {
    list-style: none;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items li {
    padding: .5rem 1rem;
    transition: background .2s ease-in-out;
}

.menu-items li:hover {
    background-color: #ff652f;
}

/* !DROPDOWN MENU */
.dropdown {
    position: relative;
}

.dropdown-menu,
.menu-right {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #122331;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.menu-right {
    top: 0;
    left: 100%;
}

.menu-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    top: 45px;
    opacity: 1;
    visibility: visible;
}

.dropdown-right:hover .menu-right {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

/* !MEGAMENU */
.mega-menu {
    position: absolute;
    left: 0;
    top: 80px;
    width: 80vw;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.mega-menu .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #122331;
}

.content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
}

.content .col .img-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

.content .col .img-wrapper .img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* Zoom on hover img effect */
.content .col .img-wrapper .img img {
    width: 100%;
    transition: transform .4s ease-in-out;
}

.content .col .img-wrapper:hover img {
    transform: scale(1.1);
}

.content .col h2 {
    color: #ff652f;
    font-size: 1.5rem;
}

.content .col .mega-links {
    border-left: 1px solid #1a3246;
}

.col .mega-links li,
.col .mega-links li a {
    padding: .5rem 1rem;
}

.menu-items li:hover .mega-menu {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

/* !BLOG MEGAMENU */
.blog .content {
    grid-template-columns: repeat(3, 1fr);
}

.content .col .read-more {
    display: inline-block;
    padding-top: 1rem;
    color: #427dad;
    transition: color .3s ease;
}

.content .col .read-more:hover {
    color: #ff652f;
}


/* * SECTION * */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.section h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 70px;
}




